<div class="{{ class|default('') }}">
    {% if headline is defined %}<h4>{{ headline|raw }}</h4>{% endif %}
    {{ content|default|raw }}
    <button class="close" onclick="this.parentNode.style.display='none';">{% trans %}Close{% endtrans %}</button>
</div>