services:
  _defaults:
    autowire: true
    autoconfigure: true
    bind:
      $projectDir: '%kernel.project_dir%'

  HeimrichHannot\WatchlistBundle\:
    resource: '../src/{Asset,Controller,DataContainer,EventListener,Generator,InsertTag,Migration,Twig,Util}/*'

  HeimrichHannot\WatchlistBundle\Item\WatchlistItemFactory: ~
  HeimrichHannot\WatchlistBundle\Watchlist\WatchlistContentFactory: ~