services:
  _defaults:
    public: true
    autowire: true
    autoconfigure: true
    bind:
      $projectDir: '%kernel.project_dir%'

  HeimrichHannot\WatchlistBundle\:
    resource: '../src/{Asset,Controller,DataContainer,EventListener,Generator,InsertTag,Migration,Util}/*'